:root {
  --luce-background: #f8f8f8;
  --luce-background-darker: #eee;
  --luce-border: #ccc;
  --luce-hover: #ddd;
  --luce-text: black;
}

.luce-dark {
  --luce-background: #242424;
  --luce-background-darker: #363636;
  --luce-hover: #484848;
  --luce-text: #ddd;
  --luce-border: #303030;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--luce-background);
  color: var(--luce-text);
}

.luce-container {
  max-width: 40em;
  margin: auto;
}

.luce-input, .luce-textarea, .luce-button {
  background-color: var(--luce-background-darker);
  border: hidden;
  border-bottom: solid var(--luce-hover);
  color: inherit;
  outline: none;
  font: inherit;
  padding: 0.2em;
  transition: 0.25s;
}

.luce-input:focus, .luce-textarea:focus, .luce-button:focus {
  background-color: var(--luce-hover);
}

.luce-button:hover {
  background-color: var(--luce-hover);
  cursor: pointer;
}

.luce-button:active {
  transform: translateY(0.2em);
}
